@{
    /**/

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Incluir carrusel de imágenes (con imagenes y consejos finacieros)</h1>
    <p class="lead">Texto</p>
    <p><a href="" class="btn btn-primary btn-lg">Boton1 &raquo;</a></p>
</div>

<div class="row" style="width:100%; ">
    <div class="col-md-4">
        <h2>Pagina de Inicio</h2>
    </div>
    <form style="width:100%;">
        <div>
            
            <fieldset id="tasaDePoliticaMonetaria" style="width:80%; border:double; font-weight:20%; float:right;">
                <img src="">@*AgregarImagen*@
                 Descripcion de la tasa de politica Monetaria
            </fieldset>&nbsp;
        </div>
        
        <div>
            
            <fieldset id="tasaBasicaPasiva" style="width:80%; border:double; font-weight:20%; float:right;">
                <img src="">@*AgregarImagen*@
                Descripcion de la tasa basia Pasiva
            </fieldset>&nbsp;
        </div>
        
        <div>
            <img src="">@*AgregarImagen*@
            <fieldset id="tipoDeCambioDeCompraDelDólar_TipoDeCambioVentaDelDólar" style="width:80%; border:double; font-weight:20%; float:right;">
                <img src="">@*AgregarImagen*@
                Tipo de cambio de compra de dolar y tipo de cambio de dolar
            </fieldset>&nbsp;
        </div>
     </form>
</div>


