
@{
    ViewBag.Title = "Tipo de cambio - USD";
    ViewBag.Current = "Cambio";
}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class="row">

    <div class="col-md-12">

        <h1 class="text-center">Tipo de Cambio - USD</h1>

        <div id="idChart">Cargando...</div>

    </div>

    <div class="col-md-12">

        <h5>Descripción:</h5>
        <p>
            Los tipos de cambio se definen como el precio de una unidad monetaria extranjera expresado 
            en términos de la moneda nacional, análogamente se puede expresar el precio de nuestra moneda 
            en términos de otra extranjera.
        </p>


        <h5>Fórmula:</h5>
        <p>
            El cálculo del tipo de cambio de referencia de compra para el día t será el promedio
            del precio de las transacciones de compra ponderado por el monto de cada transacción para
            el día t-1, durante el período definido por acuerdo de la Junta Directiva del BCCR.
            
        </p>


        <h5>Periodicidad del calculo del indicador:</h5>
        <p>
            La Junta Directiva del Banco Central modificará diariamente los tipos de operaciones
            cambiarias y no cambiarias que serán consideradas para el cálculo de la
            variación diaria de la posición en moneda extranjera.
        </p>

        <h5>Impacto a costarricenses:</h5>
        <p>
            El ente emisor del país demostro que movimientos al alza y a la baja en el tipo de cambio son propios
            del régimen monetario vigente en el país, que es el régimen de metas de inflación, en el cual toda la política se sujeta a esa meta,
            incluida la cambiaria, lo cual afecta directamente a la economia con el alza o baja de los precios en el país.
        </p>

    </div>

</div>

<script>
    $(document).ready(function () {

        var ventaValues = [];
        var compraValues = [];

        var chartVenta = {
            chart: {
                zoomtype: 'x'
            },
            title: {
                text: 'Tipo de Cambio - USD'
            },
            subtitle: {
                text: 'Fuente: Banco Central de Costa Rica'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Tipo de cambio'
                }
            },
            plotOptions: {
                //series: {
                //    turboThreshold: 0
                //}
            },
            series: [{
                color: '#8f0047',
                type: 'line',
                name: 'Compra',
                data: []
            },
                {
                color: '#8f4800',
                type: 'line',
                name: 'Venta',
                data: []
            }

            ]
        };



        var chartObj = Highcharts.chart('idChart', chartVenta);

        chartObj.showLoading();



        //chart.showLoading('Cargando datos del servidor...');

        // Carga json de TipoCambioVenta y lo formatea en una forma leible por HighCharts (Unix Time & Valor)
        $.getJSON("/Home/GetTipoCambioVenta", function (data) {

            var valuesTemp = JSON.parse(data);

            for (var i of valuesTemp) {

                timestampTemp = new Date(i['desFecha']).getTime();

                ventaValues.push([timestampTemp, parseInt(i['numValor'])]);
            }


            chartVenta.series["0"].data = ventaValues;

            cargarData();


        });

        // Carga json de TipoCambioCompra y lo formatea en una forma leible por HighCharts (Unix Time & Valor)
        $.getJSON("/Home/GetTipoCambioCompra", function (data) {

            var valuesTemp = JSON.parse(data);

            for (var i of valuesTemp) {

                timestampTemp = new Date(i['desFecha']).getTime();

                compraValues.push([timestampTemp, parseInt(i['numValor'])]);
            }


            chartVenta.series["1"].data = compraValues;

            cargarData();

        });

        function cargarData() {

            Highcharts.chart('idChart', chartVenta);

            chartObj.hideLoading();
        }


    });

</script>