
@{
    ViewBag.Title = "Acerca de";
}
<h2>Informacion General</h2>

<form id="cuerpo">
    <div id="historia">
        <h2>Historia</h2>
        <h4>
            El Progreso es una empresa costarricense, nacida en el año 2010 en Desamparados de San José, la cual desde sus inicios se ha ganado el corazón de los costarricenses brindando productos de crédito y ahorro, a precios justos y accesibles para el público en general.
            Dada la demanda actual en el mercado financiero, y la creciente tendencia en el análisis de datos, El Progreso ha visto la necesidad de desarrollar un sistema web, que le permita tener un contacto más directo con sus clientes, y a la vez brindar a los usuarios información de importancia para la toma de decisiones financieras, esto mediante una interfaz amigable, confiable y que sea vanguardista de las últimas tecnologías.
            El Progreso conoce muy bien las necesidades los sus clientes, sin embargo, es consciente de la poca educación financiera que reciben los mismos en los centros educativos de primera y segunda enseñanza, así como universitario, por lo cual desea incluir como pilar de la aplicación web, información de tres indicadores financieros que usualmente las personas no conocen: Tasa de Política Monetaria, Tasa Básica Pasiva y Tipos de Cambio del dólar estadounidense con relación al colón costarricense.
            Los indicadores mencionados anteriormente, son creados por el Banco Central de Costa Rica y los mismos pueden ser consultados en la página web oficial del mismo.
            A continuación se enuncian algunos aspectos importantes generales de la empresa como insumo para el desarrollo de la aplicación web.
        </h4>
    </div>
    <div id="mision">
        <h2>Misión</h2>
        <h4>
            Ser creativos y eficaces en la gestión de inversiones y en la generación de oportunidades de inversión y soluciones financieras, fundamentados en las necesidades de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas y nuestra comunidad.
        </h4>
    </div>
    <div id="vision">
        <h2>Visión</h2>
        <h4>
            Ser reconocidos como la entidad financiera líder en la creación, desarrollo, administración y distribución de inversiones, comprometidos con el crecimiento económico del país.
        </h4>
    </div>
    <div id="valores">
        <h2>Valores</h2>
        <h4>
            Nuestros valores son los siguientes:
            •	Integridad
            •	Creatividad
            •	Enseñar con el ejemplo
            •	Escuchar para entender
            •	Trabajar en equipo
            •	Desarrollar a otros
        </h4>
    </div>
    <div id="responsabilidadSocial">
        <h2>Responsabilidad Social</h2>
        <h4>
            En El Progreso contamos con políticas y prácticas fundamentadas en principios y valores, que contribuyen al logro de los objetivos de la compañía y al fortalecimiento de relaciones de mutuo beneficio con nuestros grupos de interés (accionistas, clientes, empresas del portafolio de inversiones, proveedores, colaboradores y comunidad en general), controlando y midiendo los impactos social, económico y ambiental.
            De la mano de nuestro objeto social, logramos cumplir los objetivos de responsabilidad social empresarial, a través de las unidades de negocio, las filiales y empresas del portafolio con las cuales logramos un mayor impacto al llegar a distintos sectores de la sociedad.
            Por lo anterior y tomando en consideración su vasta experiencia como programador y la recomendación de algunos de nuestros clientes, El Progreso lo ha contratado para que realice una herramienta acorde a las necesidades que se presentarán en los siguientes puntos.
        </h4>
    </div>
    <div id="organigrama">
        <h2>Organigrama</h2>
        <h4>
            <img src="~/Imagenes/OrganigramaElProgreso.png" width="500px" height="600px" alt="imgf" />
        </h4>
    </div>
    <div id="objetivoGeneral">
       <h2>Objetivo General</h2>
       <h4>
           El objetivo general de la gestión de inversiones y en la generación de oportunidades de inversión y soluciones financieras, fundamentados en las necesidades de las empresas y en nuestra experiencia y conocimiento, creando valor a nuestros accionistas y nuestra comunidad.
       </h4>
    </div>
    <div id="objetivosEspecificos">
        <h2>Objetivos Especificos</h2>
        <ul>

            <li type="circle">Realizar un desglose de información con respecto a la taza de cambio del dólar (Compra y Venta).</li>
            <li type="circle">Realizar un desglose de información con respecto a la taza básica Pasiva.</li>
            <li type="circle">Realizar un desglose de información con respecto a la taza de Política Monetaria.</li>
        </ul>

</div>
</form>
@* Pendiente  stylos *@

