
@{
    ViewBag.Title = "Tasa básica pasiva";
    ViewBag.Current = "TBP";
}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>



<div class="row">

    <div class="col-md-12">
        <h1 class="text-center">Tasa Básica Pasiva</h1>


        <div id="idChart">Cargando...</div>

    </div>

    <div class="col-md-12">
        <h5>Descripción:</h5>
        <hr />
        <p class="text-justify">
            La Tasa Básica Pasiva (TBP) es la tasa de referencia calculada por el Banco Central de Costa Rica que estima, en promedio,
            la tasa que pagan los bancos públicos y privados en el país y las entidades financieras por los depósitos o ahorros en colones.
            Este indicador se calcula desde 1981 para medir cuánto pagan los bancos y entidades por ahorros o depósitos a diferentes plazos.
            La TBP es el indicador de referencia que utilizan los bancos para calcular los préstamos.
        </p>

        <h5>Fórmula:</h5>
        <hr />
        <p class="text-justify">
            Se calcula con la información de las tasas de interés brutas negociadas para cada una de las operaciones de captación a plazo en 
            colones, durante la semana anterior al cálculo. Con los promedios de tasas de interés de las diferentes entidades financieras del 
            país, se calcula un nuevo promedio ponderado de dichos rendimientos y eso arroja la TBP de la semana, lo cual resulta útil para 
            aquellos que desean tener una referencia de cómo se está posicionando la tasa en el mercado.
        </p>

        <h5>Periodicidad del calculo del indicador:</h5>
        <hr />
        <p class="text-justify">
            La Tasa Básica Pasiva se publica el día miércoles de cada semana y rige desde el jueves siguiente y durante 
            los siete días posteriores.
        </p>

        <h5>Impacto a costarricenses:</h5>
        <hr />
        <p class="text-justify">
            Puede utilizarse si se desea ahorrar o invertir, para valorar si realmente lo que la entidad ofrece es competitivo o no con el mercado, 
            para ello debe fijarse si el banco está pagando un porcentaje mayor o menor a la TBP. La TBP es utilizada por los bancos y otras 
            entidades financieras también para fijar las tasas que cobran por sus préstamos, como se mencionó anteriormente (principalmente los de vivienda). 
            El banco generalmente cobra una tasa indexada a esta indicador, es decir, la tasa será igual a la TBP más un porcentaje adicional. Por lo 
            tanto, cuando la TBP sube o baja, así también se moverá la tasa del préstamo y, por lo tanto, la mensualidad que debe pagar el cliente.
        </p>
        
        @*
        Fuentes:
        https://www.elfinancierocr.com/finanzas/que-es-la-tasa-basica-pasiva-y-para-que-sirve/RRVY2NS5VVHIPKQ76APQ6VSEKA/story/
        https://www.larepublica.net/noticia/tasa-basica-pasiva-llego-a-625-por-primera-vez-desde-2015-que-significa
        *@
    </div>



</div>

<script>
    $(document).ready(function () {

        var tasaBasicaPasivaValues = [];

        var chartTasaBasicaPasiva = {
            chart: {
                zoomtype: 'x'
            },
            title: {
                text: 'Tasa Básica Pasiva'
            },
            subtitle: {
                text: 'Fuente: Banco Central de Costa Rica'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'TBP'
                }
            },
            plotOptions: {
                //series: {
                //    turboThreshold: 0
                //}
            },
            series: [{
                color: '#e6ac00',
                type: 'line',
                name: 'TBP',
                data: []
            }]
        };

        var chartObj = Highcharts.chart('idChart', chartTasaBasicaPasiva);

        chartObj.showLoading();



        // Carga json de TasaBasicaPasiva y lo formatea en una forma leible por HighCharts (Unix Time & Valor)
        $.getJSON("/Home/GetTasaBasicaPasiva", function (data) {

            var valuesTemp = JSON.parse(data);

            for (var i of valuesTemp) {

                timestampTemp = new Date(i['desFecha']).getTime();

                tasaBasicaPasivaValues.push([timestampTemp, parseInt(i['numValor'])]);
            }

            chartTasaBasicaPasiva.series["0"].data = tasaBasicaPasivaValues;

            cargarData();

        });


        function cargarData() {

            Highcharts.chart('idChart', chartTasaBasicaPasiva);

            chartObj.hideLoading();
        }


    });

</script>