
@{
    ViewBag.Title = "Tasa de política monetaria";
    ViewBag.Current = "TPM";
}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div class="row">

    <div class="col-md-12">

        <h1 class="text-center">Tasa de política monetaria</h1>

        <div id="idChart">Cargando...</div>

    </div>

    <div class="col-md-12">
        <h5>Descripción:</h5>
        <p>El principal mecanismo de intervención de política monetaria usado por el Banco de la República para afectar la cantidad de dinero que circula en la economía, consiste en modificar la tasa de interés mínima que cobra a las entidades financieras por los préstamos que les hace, o la tasa de interés máxima que paga por recibirles dinero sobrante.</p>

        <h5>Periodicidad del calculo del indicador:</h5>
        <p>Estas operaciones, también conocidas como OMA  se hacen a plazos muy cortos a 1, 7 y 14 días.</p>
        <h5>Impacto a costarricenses:</h5>
        <p>
            Se redujo la tasa en 25 puntos porcentuales para mantener la inflación en un rango aceptable.
            Cuando el Banco sube la tasa porque prevé que pueden haber presiones inflacionarias, a los intermediarios financieros como bancos, mutuales y otras entidades financieras les cuesta más fondearse, por lo que la TPM termina traspasándose a las tasas activas, que son las que paga el público por sus créditos.
        </p>

    </div>

</div>

<script>
    $(document).ready(function () {

        var tasaDePoliticaMonetariaValues = [];

        var chartTasaDePoliticaMonetaria = {
            chart: {
                zoomtype: 'x'
            },
            title: {
                text: 'Tasa de Política Monetaria'
            },
            subtitle: {
                text: 'Fuente: Banco Central de Costa Rica'
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'TPM'
                }
            },
            plotOptions: {
                //series: {
                //    turboThreshold: 0
                //}
            },
            series: [{
                color: '#e6ac00',
                type: 'line',
                name: 'TPM',
                data: []
            }]
        };

        var chartObj = Highcharts.chart('idChart', chartTasaDePoliticaMonetaria);

        chartObj.showLoading();


        //chart.showLoading('Cargando datos del servidor...');

        // Carga json de TasaDePoliticaMonetaria y lo formatea en una forma leible por HighCharts (Unix Time & Valor)
        $.getJSON("/Home/GetTasaDePoliticaMonetaria", function (data) {

            var valuesTemp = JSON.parse(data);

            for (var i of valuesTemp) {

                timestampTemp = new Date(i['desFecha']).getTime();

                tasaDePoliticaMonetariaValues.push([timestampTemp, parseInt(i['numValor'])]);
            }

            chartTasaDePoliticaMonetaria.series["0"].data = tasaDePoliticaMonetariaValues;

            cargarData();

        });


        function cargarData() {

            Highcharts.chart('idChart', chartTasaDePoliticaMonetaria);

            chartObj.hideLoading();
        }


    });

</script>